In [27]:
import numpy as np 
import pandas as pd
import re

In [ ]:
#configure TWINT
t = twint.Config()

t.Search = "fun", "good", "happy", "thankful"
t.Lang = "en"
t.Limit = 5000
t.Year = 2020
t.Store_csv = True
t.Output = "data/non_depressed_tweets.csv"

twint.run.Search(t)

In [10]:
df = pd.read_csv("data/non_depressed_tweets.csv")
len(df)

5322

In [11]:
df.head(10)

,id,username,tweet
0,1932968306,finarocks,is really digging The Horrors right now
1,1932968371,sampada,@shradhac Thanks
2,1932968382,yay4renee,Just got done watching some Buffy. Hurray it's...
3,1932968415,eddric,"@mastertaxton hey, just checking. I'll be in e..."
4,1932968442,riztacular,Since when was being courteous crime? Somehow ...
5,1932968477,LaverneLOVE,@mirrortiffanyj finish @mariosoultruth quote!
6,1932968506,nic0lepaula,Different types of mochi for dessert... Attack...
7,1932968507,pookeynoodlex,@victoriaaa_ lol wing it ;) gotta goooo by bye...
8,1932968564,thehappykid,@punkful dati i get to talk to handlers pa whe...
9,1932968574,lain7,"@daveo0 thanks, me too"

In [17]:
#remove duplicates
df = df.drop_duplicates(subset = ["id"])
df.shape

(5316, 3)

In [18]:
#create a column containing tweets without hashtags
df["mod_text"] = df["tweet"].apply(lambda x: re.sub(r'#\w+', '', x))

In [20]:
df.head(10)

,id,username,tweet,mod_text
0,1932968306,finarocks,is really digging The Horrors right now,is really digging The Horrors right now
1,1932968371,sampada,@shradhac Thanks,@shradhac Thanks
2,1932968382,yay4renee,Just got done watching some Buffy. Hurray it's...,Just got done watching some Buffy. Hurray it's...
3,1932968415,eddric,"@mastertaxton hey, just checking. I'll be in e...","@mastertaxton hey, just checking. I'll be in e..."
4,1932968442,riztacular,Since when was being courteous crime? Somehow ...,Since when was being courteous crime? Somehow ...
5,1932968477,LaverneLOVE,@mirrortiffanyj finish @mariosoultruth quote!,@mirrortiffanyj finish @mariosoultruth quote!
6,1932968506,nic0lepaula,Different types of mochi for dessert... Attack...,Different types of mochi for dessert... Attack...
7,1932968507,pookeynoodlex,@victoriaaa_ lol wing it ;) gotta goooo by bye...,@victoriaaa_ lol wing it ;) gotta goooo by bye...
8,1932968564,thehappykid,@punkful dati i get to talk to handlers pa whe...,@punkful dati i get to talk to handlers pa whe...
9,1932968574,lain7,"@daveo0 thanks, me too","@daveo0 thanks, me too"

In [21]:
col_list = ["username", "mod_text"]
df_final = df[col_list]
df_final = df_final.rename(columns={"mod_text": "tweet_processed"})

In [22]:
df_final.head(10)

        username                                    tweet_processed
0      finarocks           is really digging The Horrors right now
1        sampada                                  @shradhac Thanks
2      yay4renee  Just got done watching some Buffy. Hurray it's...
3         eddric  @mastertaxton hey, just checking. I'll be in e...
4     riztacular  Since when was being courteous crime? Somehow ...
5    LaverneLOVE     @mirrortiffanyj finish @mariosoultruth quote!
6    nic0lepaula  Different types of mochi for dessert... Attack...
7  pookeynoodlex  @victoriaaa_ lol wing it ;) gotta goooo by bye...
8    thehappykid  @punkful dati i get to talk to handlers pa whe...
9          lain7                            @daveo0 thanks, me too

In [23]:
df_final["target"] = 0

In [24]:
df_final.head()

     username                                    tweet_processed  target
0   finarocks           is really digging The Horrors right now        0
1     sampada                                  @shradhac Thanks        0
2   yay4renee  Just got done watching some Buffy. Hurray it's...       0
3      eddric  @mastertaxton hey, just checking. I'll be in e...       0
4  riztacular  Since when was being courteous crime? Somehow ...       0

In [25]:
len(df_final)

5316

In [26]:
df_final.to_csv("data/tweets_nondepressed_final.csv")